.navSpacer {
  height: 5em;
}

.shopNavSpacer {
  height: 8em;
}

.mobileMenuWrap {
  display: none;
}

.navWrapper {
  background: #204f58;
  position: fixed;
  top: 0px;
  min-width: 100%;
  padding: 0px 20px;
  border-bottom: 1px solid #47888a;
  z-index: 100;
}

.navWrapperShop {
  background: #fff;
  position: fixed;
  top: 0px;
  min-width: 100%;
  padding: 0px 20px;
  border-bottom: var(--blue-light-border);
  z-index: 100;
  color: var(--green-dark);
}

.innerNav {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.brandTitle {
  padding: 0px 10px 0px 0px;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
  color: #fff;
}

.brandTitleShop {
  padding: 0px 10px 0px 0px;
  font-weight: 600;
  line-height: 1em;

  font-size: 1.5em;
  color: var(--green-dark);
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 0.9em;
  padding: 20px 0px 20px 20px;
}

.navLinkWrap {
  margin-right: 20px;
}

.navLink {
  padding: 15px 20px;
  /* font-weight: 500; */
  border-radius: 9px;
  color: #fff;
  white-space: nowrap;
}

.navLinkShop {
  padding: 15px 20px;
  /* font-weight: 500; */
  border-radius: 9px;
  color: var(--green-dark);
  white-space: nowrap;
}

.navLink:hover {
  outline: var(--blue-mid-border-2);
}
.navLinkShop:hover {
  outline: var(--blue-light-border-2);
}

.navLinkBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 32px;
  background: #b4ff28;
  border-radius: 100px;
  color: #1a393a;
}

.navButtonsWrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.buttonLabel {
  margin-right: 5px;
}

.cartWrap {
  position: relative;
}

.cartLabel {
  position: absolute;
  top: -10px;
  right: 7px;
  background: var(--orange-mid);
  border-radius: 100px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  padding: 2px;
  z-index: 1000;
}

/* footer */

.footerWrap {
  min-width: 100%;
  background: #fff;
  color: #2c2c2c;
  border-top: var(--orange-light-border);
}

.footerInner {
  padding: 6em 3em 1em 3em;

  display: flex;
  justify-content: space-between;
}

.footerLeft {
  max-width: 20em;
}

.footerRight {
  display: flex;
  justify-content: flex-end;
}

.footerColumn {
  margin-right: 4em;
  display: flex;
  flex-flow: column nowrap;
  max-width: 8em;
}

.footerColumn:last-child {
  margin-right: 0;
}

.footerList {
  margin-top: 0.5em;
}

.footerLink {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0.5em 0;
}

.footerLower {
  padding: 0 2em 2em 2em;
}

@media screen and (max-width: 1090px) {
  .navWrapper {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  .navWrapperShop {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  .navMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
    padding: 20px 15px 50px 15px;
    position: fixed;
    min-height: 90vh;
    top: 0;
    left: 0;
    background: #204f58;
    border-bottom: var(--green-mid-border);
    z-index: 5;
  }

  .clickOutWrap {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .brandBlock {
    z-index: 100;
  }

  .navLinkWrap {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 50px;
    min-width: 100%;
  }

  .navButtonsWrap {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    min-width: 100%;
  }

  .navButtonsWrap div a {
    margin-bottom: 1.2em;
  }

  .navButtonsWrap a {
    min-width: 100%;
    text-align: center;
    justify-content: center;
  }

  .navButtonsWrap div {
    min-width: 100%;
  }

  .navSpacer {
    height: 50px;
  }

  .shopNavSpacer {
    height: 6em;
  }

  .mobileMenuWrap {
    z-index: 100;
    cursor: pointer;
    display: block;
  }
  .mobileMenuIcon {
    filter: invert(1) sepia(1) saturate(1) hue-rotate(180deg);
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .footerWrap {
    max-width: 100vw;
    overflow: hidden;
  }
}

@media screen and (max-width: 769px) {
  .footerInner {
    flex-flow: column nowrap;
    padding: 6em 2em 1em 2em;
  }

  .footerLeft {
    max-width: 100%;
  }

  .footerRight {
    justify-content: center;
    flex-flow: column nowrap;
    max-width: 100%;
    margin-top: 2em;
  }

  .footerColumn {
    margin-right: 0;
    margin-bottom: 2em;

    min-width: 100%;
  }
}
