.headingXl {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1;
}

.headingLg {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1/1;
}

.headingMd {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

.headingSm {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.1;
}

.headingXs {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.2;
}

.headingXsAlt {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2;
  color: var(--green-dark);
}

.headingXxs {
  font-size: 0.95em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: var(--dark-gray-50);
}

.headingXxxs {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  color: var(--dark-gray-50);
}

.textBurst {
  color: var(--green-light);
}

.outlineText {
  font-weight: 700;
  border: var(--orange-border);
  border-radius: 100px;
  padding: 3px 15px;
  display: block;
  max-width: fit-content;
  margin-top: 10px;
  margin-left: 25px;
}

.outlineTextGrey {
  font-weight: 700;
  border: var(--dark-gray-border-20);
  border-radius: 100px;
  padding: 10px 30px;
  display: block;
  max-width: fit-content;
}

.paragraphMain {
  font-size: 1.4em;
  line-height: 1.6;
}

.paragraphSm {
  font-size: 1.08em;
  line-height: 1.6;
  color: var(--darkest-gray);
  opacity: 0.72;
}

.paragraphXs {
  font-size: 1em;
  line-height: 1.6;
  color: var(--darkest-gray);
  opacity: 0.72;
}

.paragraphXxs {
  font-size: 0.86em;
  line-height: 1.3;
  color: var(--darkest-gray);
  opacity: 0.72;
}

.onSale {
  color: var(--red-dark);
  font-weight: 500;
}

.titleTag {
  margin-left: 10px;
  color: var(--green-mid-dark);
  font-size: 1.1em;
  font-weight: 500;
}

.labelTag {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--darkest-gray);
  opacity: 0.72;
}

.orderedList {
  margin-left: 1.5em;
}

.linkBlockChartreuse {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: var(--chartreuse);
  border-radius: 100px;
  color: var(--green-dark);
  white-space: nowrap;
  min-width: fit-content;
  max-width: fit-content;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: inherit;
  min-width: 100%;
  text-align: center;
}

.linkBlockChartreuse:hover {
  background: var(--blue-mid);
  color: #fff;
}

.linkBlockWhite {
  cursor: pointer;
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 3px;
  margin-left: 20px;
  color: #fff;
  white-space: nowrap;
  min-width: fit-content;
  max-width: fit-content;
  box-shadow: var(--dark-gray-border-20);
  transition: box-shadow 0.2s ease-in-out;
}

.linkBlockWhite:hover {
  box-shadow: var(--light-hover-shadow);
}

.linkBlockBlack {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 3px 9px 0;
  color: var(--darkest-gray);
  font-weight: 600;
  opacity: 0.72;
  white-space: nowrap;
  min-width: fit-content;
  max-width: fit-content;
  box-shadow: var(--gray-hover-shadow);
  transition: box-shadow 0.2s ease-in-out;
  font-size: inherit;
}

.linkBlockBlack:hover {
  box-shadow: var(--light-hover-shadow);
  color: var(--green-green-mid-dark);
}

.linkBlockGreen {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  font-size: inherit;
  background: var(--green-mid-dark);
  border-radius: 100px;
  color: #fff;
  white-space: nowrap;
  min-width: fit-content;
  max-width: fit-content;
}

.linkBlockGreen:hover {
  background: var(--green-teal-mid);
}

.linkBlockGray {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  font-size: inherit;
  border: var(--green-dark-border);
  background: var(--light-blue-gray);
  border-radius: 100px;
  color: var(--green-dark);
  max-width: fit-content;
  white-space: nowrap;
  min-width: fit-content;
  transition: all 0.2s ease-in-out;
}

.linkBlockGray:hover {
  background: var(--green-dark);
  color: #fff;
}

.linkBlockWhiteOutline {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  font-size: inherit;
  border: var(--white-border-50);
  background: transparent;
  border-radius: 100px;
  color: #fff;
  max-width: fit-content;
  white-space: nowrap;
  min-width: fit-content;
  transition: all 0.2s ease-in-out;
}

.linkBlockWhiteOutline:hover {
  background: var(--green-dark);
}

.linkBlockGrayOutline {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  font-size: inherit;
  border: var(--green-teal-mid-border);
  min-width: 100%;
  background: transparent;
  border-radius: 100px;
  color: var(--green-dark);
  max-width: fit-content;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

.linkBlockGrayOutline:hover {
  background: var(--blue-light);
}

.linkBlockOrangeOutline {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  font-size: inherit;
  border: var(--red-border);
  background: transparent;
  border-radius: 100px;
  color: var(--red-mid);
  white-space: nowrap;
  min-width: fit-content;
  max-width: fit-content;
  transition: all 0.2s ease-in-out;
  font-size: inherit;
}
.linkBlockOrangeOutline:hover {
  background: var(--red-mid);
  color: #fff;
}

.buttonLabel {
  margin-right: 5px;
}

.footerTitle {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--darkest-gray);
  opacity: 0.72;
}

.footerHeading {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2;
}

.footerLowerText {
  font-size: 0.7em;
  line-height: 1.2;
  color: var(--darkest-gray-70);
  opacity: 0.72;
}

.bulletTag {
  width: 12px;
  height: 12px;
  background: var(--green-mid-dark);
  border-radius: 20px;
}

.productTag {
  border-radius: 100px;
  border: var(--blue-light-border);
  padding: 0.5em 1em;
  max-width: fit-content;
  font-size: 0.8em;
}

.viewMoreLink {
  font-size: 0.83em;
  font-weight: 600;
  margin-left: 0.83em;
  color: var(--green-mid-dark);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.normalLink {
  text-decoration: underline;
  font-size: 0.83em;
  font-weight: 600;
  margin-left: 0.2em;
  color: var(--green-mid-dark);
  cursor: pointer;
}

.label {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1em;
  color: var(--medium-gray);
}

.aBitBolder {
  font-weight: 600;
}

/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
@media screen and (max-width: 768px) {
  .headingXl {
    font-size: 4em;
  }

  .headingLg {
    font-size: 2.5em;
  }

  .headingMd {
    font-size: 2em;
  }

  .headingSm {
    font-size: 1.5em;
  }

  .headingXs {
    font-size: 0.9em;
  }

  .headingXsAlt {
    font-size: 1em;
  }

  .headingXxs {
    font-size: 0.5em;
  }

  .outlineText {
    padding: 3px 15px;
    margin-top: 10px;
    margin-left: 25px;
  }

  .outlineTextGrey {
    padding: 10px 30px;
  }

  .paragraphMain {
    font-size: 1.4em;
    line-height: 1.6;
  }

  .paragraphSm {
    font-size: 1.1em;
    line-height: 1.6;
  }

  .paragraphXs {
    font-size: 1em;
    line-height: 1.6;
  }

  .paragraphXxs {
    font-size: 0.8em;
    line-height: 1.3;
  }

  .titleTag {
    margin-left: 10px;

    font-size: 1.1em;
  }

  .productTag {
    font-size: 0.8em;
    text-align: center;
  }

  .labelTag {
    font-size: 12px;
  }

  .orderedList {
    margin-left: 1.5em;
  }

  .linkBlockChartreuse {
    padding: 10px 25px;

    white-space: nowrap;
    min-width: 100%;

    font-size: inherit;
  }

  .linkBlockChartreuse:hover {
    background: var(--blue-mid);
    color: #fff;
  }

  .linkBlockWhite {
    cursor: pointer;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 3px;
    margin-left: 20px;
    color: #fff;
    white-space: nowrap;
    min-width: fit-content;
    max-width: fit-content;
    box-shadow: var(--dark-gray-border-20);
    transition: box-shadow 0.2s ease-in-out;
  }

  .linkBlockWhite:hover {
    box-shadow: var(--light-hover-shadow);
  }

  .linkBlockBlack {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 3px 9px 0;
    color: var(--darkest-gray);
    font-weight: 600;
    opacity: 0.72;
    white-space: nowrap;
    min-width: fit-content;
    max-width: fit-content;
    box-shadow: var(--gray-hover-shadow);
    transition: box-shadow 0.2s ease-in-out;
    font-size: inherit;
  }

  .linkBlockBlack:hover {
    box-shadow: var(--light-hover-shadow);
    color: var(--green-green-mid-dark);
  }

  .linkBlockGreen {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-size: inherit;
    background: var(--green-mid-dark);
    border-radius: 100px;
    color: #fff;
    white-space: nowrap;
    min-width: fit-content;
    max-width: fit-content;
  }

  .linkBlockGray {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-size: inherit;
    border: var(--green-dark-border);
    background: var(--light-blue-gray);
    border-radius: 100px;
    color: var(--green-dark);
    max-width: fit-content;
    white-space: nowrap;
    min-width: fit-content;
    transition: all 0.2s ease-in-out;
  }

  .linkBlockGray:hover {
    background: var(--green-dark);
    color: #fff;
  }

  .linkBlockWhiteOutline {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-size: inherit;
    border: var(--white-border-50);
    background: transparent;
    border-radius: 100px;
    color: #fff;
    max-width: fit-content;
    white-space: nowrap;
    min-width: fit-content;
    transition: all 0.2s ease-in-out;
  }

  .linkBlockWhiteOutline:hover {
    background: var(--green-dark);
  }

  .linkBlockOrangeOutline {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    font-size: inherit;
    border: var(--red-border);
    background: transparent;
    border-radius: 100px;
    color: var(--red-mid);
    white-space: nowrap;
    min-width: fit-content;
    max-width: fit-content;
    transition: all 0.2s ease-in-out;
    font-size: inherit;
  }
  .linkBlockOrangeOutline:hover {
    background: var(--red-mid);
    color: #fff;
  }

  .buttonLabel {
    margin-right: 5px;
  }

  .footerTitle {
    font-size: 1.7em;
    font-weight: 600;
    color: var(--darkest-gray);
    opacity: 0.72;
  }

  .footerHeading {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2;
  }

  .footerLowerText {
    font-size: 0.7em;
    line-height: 1.2;
    color: var(--darkest-gray-70);
    opacity: 0.72;
  }

  .bulletTag {
    width: 12px;
    height: 12px;
    background: var(--green-mid-dark);
    border-radius: 20px;
  }

  .viewMoreLink {
    font-size: 0.83em;
    font-weight: 600;
    margin-left: 0.83em;
    color: var(--green-mid-dark);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}
