.shopBody {
  padding: 3em 3em;
}

.shopHeader {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  color: var(--medium-gray);
}

.productCount {
  margin-left: 1em;
}

.productsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.productWrap {
  display: flex;
  padding: 3em;
}

@media screen and (max-width: 768px) {
  .shopBody {
    padding: 2em 0.5em;
  }

  .shopHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .productCount {
    margin-left: 0;
    margin-top: 0.5em;
  }

  .productsWrap {
    justify-content: space-between;
  }

  .productWrap {
    display: flex;
    padding: 1em;
  }
}
