:root {
  --max-width: 100vw;
  --border-radius: 9px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --chartreuse-light: #e4f8c0;
  --chartreuse: #b4ff28;
  --chartreuse-50: #b4ff288c;
  --green-light: #b0eab9;
  --green-lightest: #f5fcf2;
  --green-mid: #338673;
  --green-mid-15: #51aa7615;
  --green-green-mid-dark: #186123;

  --green-teal-mid: #47888a;
  --green-teal-mid-10: #47888a1b;
  --green-mid-dark: #2c5c5d;
  --green-teal-mid-dark: #204f58;
  --green-dark: #1a393a;

  --yellow-light: #f7f1b3;
  --yellow-mid: #ffed28;

  --orange-lightest: #ffedeb;
  --orange-light: #f4cdc8;
  --orange-light-50: #f1c4be50;
  --orange-mid: #ff8528;

  --red-light: #f7c5c5;
  --red-mid: #f94c4c;

  --pink-light: #f2ceec;
  --pink-mid: #ff50c8;

  --blue-lightest: #a3c9c9;
  --blue-light: #afd8f2;
  --blue-mid: #3293ff;

  --purple-light: #e2bff1;
  --purple-light-50: #d7a5ec72;
  --purple-mid: #bd5ae7;

  --teal-light: #9bf0eb;
  --teal-mid: #28fff1;

  --dark-gray: #2c2c2c;
  --dark-gray-50: #2c2c2c90;
  --darkest-gray: #161616;
  --darkest-gray-70: #161616c1;
  --light-blue-gray: #9fbdbe;

  --light-hover-shadow: inset 0px -3px #b0eab9;
  --gray-hover-shadow: inset 0px -3px #7b7d7b5e;
  --light-gray-link-shadow: inset 0px -3px #ffffff1a;

  --red-border: 1px solid #eb3c3c;
  --orange-light-border: 1.5em solid #f4cdc8;
  --orange-border: 2px solid #fd8775;
  --green-mid-border: 1px solid #47888a;
  --green-dark-border: 1px solid #1a393a;
  --dark-gray-border-20: 1px solid #2c2c2c21;
  --white-border: 1px solid #fff;
  --white-border-50: 1px solid #ffffff50;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
}

html {
  overflow-x: hidden;
}

::selection {
  background: #f9e4e2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 768px) {
}
