:root {
  --max-width: 100vw;
  --border-radius: 9px;

  /* Grays */
  --white30: #ffffff4f;
  --white: #fff;
  --lighterGray: #f1f0ee;
  --lightGray: #b2adbe;
  --gray: #6a747e;
  --darkGray: #272a2d;
  --midGray: #373c41;
  --midGrayAlt: #4f5963;
  --black: #010510;
  --blackAlt: #161616;

  /* Greens */
  --lightestGreen: #e6f2e8;
  --lighterGreen: #dbf1df;
  --lightGreen: #b6e8be;
  --lightGreen50: #b0eab980;
  --lightGreenGray: #80bec0;
  --midGreen: #71dc81;
  --midGreenGray: #60b56d;
  --green: #00d020;
  --greenGray: #47888a;
  --darkerGreen: #1a393a;
  --darkGreen: #204f58;

  --chartreuse: #b4ff28;

  --teal: #00ffb6;

  /* Blues */
  --lightestBlue: #eaf0f5;
  --lighterBlue: #cbd2d9;
  --lightBlue: #afd8f2;
  --midLightBlue: #7fc4f2;
  --blue: #0098ff;
  --blueAlt: #0085d8;
  --darkBlue: #0081d9;
  --darkBlue10: #0082d94a;
  --darkBlue30: #0082d952;
  --darkBlue50: #0082d984;
  --darkerBlue: #003456;
  --darkestBlue: #071a35;
  --darkestBlue30: #071a354d;
  --darkestBlue90: #071a35d3;

  /* Purples */
  --lighterPurpleGray: #efe4f4;
  --lightPurpleGray: #e0c8ea;
  --midPurpleGray: #c5a9d1;
  --purple: #9747ff;
  --midPurple: #6f00ff;
  --purpleAlt: #bd5ae7;
  --darkPurpleGray: #584361;
  --darkPurpleGrayAlt: #432e4c;
  --darkestPurple: #210735;
  --darkestPurple90: #210735ca;

  /* Pinks */
  --lightPink: #f2ceec;
  --pink: #ff00f5;

  /* Reds */
  --red: #ff4b00;
  --redAlt: #f94c4c;
  --redLight: #f7c5c5;
  --redMid: #fa4d4d;
  --darkRed: #863131;

  /* Yellows */
  --yellow: #ffed28;
  --boldYellow: #fec501;

  /* Oranges */
  --lightestOrange90: #f4efecd7;
  --lightestOrange: #d9d0cb;
  --lightOrange: #f8ad4f;
  --midOrange: #f5b463;
  --midOrangeAlt: #fa8b35;
  --orange: #ff7300;
  --orangeAlt: #ff8528;
  --darkOrange: #c25e0c;
  --darkerOrange: #9e3a18;

  /* Borders */
  --mainBorderRadius: 0.2rem;
  --topLeftBorderRadius: 0rem 0.5625rem 0.5625rem 0.5625rem;
  /* colors */
  /* green */
  --chartreuse-lightest: #f6fdea;
  --chartreuse-light: #e4f8c0;
  --chartreuse: #b4ff29;
  --chartreuse-50: #b4ff288c;
  --green-light: #b0eab9;
  --green-lightest: #f5fcf2;
  --green-mid: #338673;
  --green-mid-15: #51aa7615;
  --green-green-mid-dark: #186123;

  --green-teal-light: #8ac7c9;
  --green-teal-mid: #47888a;
  --green-teal-mid-10: #47888a1b;
  --green-mid-dark: #2c5c5d;
  --green-teal-mid-dark: #204f58;
  --green-dark: #1a393a;

  /* yellow */
  --yellow-light: #f7f1b3;
  --yellow-mid: #ffed28;

  /* orange */
  --orange-lightest: #ffedeb;
  --orange-light: #f4cdc8;
  --orange-light-50: #f1c4be50;
  --orange-mid: #ff8528;

  /* red */

  /* pink */
  --pink-light: #f2ceec;
  --pink-mid: #ff50c8;

  /* blue */
  --blue-lightest: #d8f0ff;
  --blue-light: #afd8f2;
  --blue-mid-light: #85adc5;
  --blue-mid: #0085d8;
  --blue-dark: #0a589e;

  /* purple */
  --purple-light: #e2bff1;
  --purple-light-50: #d7a5ec72;
  --purple-mid: #bd5ae7;

  /* teal */
  --teal-light: #9bf0eb;
  --teal-mid: #28fff1;

  /* gray */
  --white: #fff;
  --light-gray: #cbd2d9;
  --dark-gray: #2c2c2c;
  --medium-gray: #4b5055;
  --dark-gray-50: #2c2c2c90;
  --dark-gray-20: #2c2c2c40;
  --darkest-gray: #161616;
  --darkest-gray-70: #161616c1;
  --light-blue-gray: #9fbdbe;
  --light-blue-gray-20: #9fbdbe2e;

  /* shadows */
  --light-hover-shadow: inset 0px -3px var(--green-light);
  --gray-hover-shadow: inset 0px -3px #7b7d7b5e;
  --light-gray-link-shadow: inset 0px -3px #ffffff1a;
  --blue-underline-shadow: 0px -3px 0px var(--blue-light) inset;

  /* borders */
  --exclusive-border: 4px solid var(--orange-mid);
  --collection-border: 4px solid var(--pink-light);

  --red-border: 1px solid var(--red-mid);

  --orange-light-border: 1.5em solid var(--orange-light);
  --orange-border: 2px solid var(--orange-mid);

  --green-light-border-lg: 1.5em solid var(--green-light);
  --green-mid-border: 1px solid var(--green-mid);
  --green-teal-mid-border: 1px solid var(--green-teal-mid);
  --green-dark-border: 1px solid var(--green-dark);

  --dark-gray-border-20: 1px solid var(--dark-gray-50);
  --white-border: 1px solid #fff;
  --white-border-50: 1px solid #ffffff50;

  --blue-light-border: 1px solid var(--blue-light);
  --blue-light-border-2: 2px solid var(--blue-light);
  --blue-light-border-4: 4px solid var(--blue-light);
  --blue-mid-border-2: 2px solid var(--blue-mid);
  --blue-mid-light-border: 1px solid var(--blue-mid-light);

  --underscore-width: 12px;
  --underscore-width-lg: 23px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  background: var(--white);
}

html {
  overflow-x: hidden;
}

::selection {
  background: #f9e4e2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 1279px) {
  .PricingTable.has-threeItems .PricingTable-grid {
    max-width: 100% !important;
  }
}

.loading {
  animation: loading 3s ease-in-out infinite;
}

.animateUnderscore {
  animation: animateUnderscore 3s ease-in-out infinite;
}

.animateText {
  animation: animateText 3s ease-in-out infinite;
}

.marquee {
  animation: marquee 45s linear infinite;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--darkestPurple90);
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-track-piece {
  width: 0.5rem;
  background: transparent;
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-thumb {
  background: var(--white30);
  border-radius: 0.25rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.25rem;
  outline: 1px solid var(--darkestPurple90);
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateUnderscore {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  30% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animateText {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  30% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* Bouncing Ball */
.spinner_rXNP {
  animation: spinner_YeBj 0.8s infinite;
}
@keyframes spinner_YeBj {
  0% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    cy: 5px;
  }
  46.875% {
    cy: 20px;
    rx: 4px;
    ry: 4px;
  }
  50% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    cy: 20.5px;
    rx: 4.8px;
    ry: 3px;
  }
  53.125% {
    rx: 4px;
    ry: 4px;
  }
  100% {
    cy: 5px;
  }
}

/* Bouncing Dots */
.spinner_qM83 {
  animation: spinner_8HQG 1.05s infinite;
}
.spinner_oXPr {
  animation-delay: 0.1s;
}
.spinner_ZTLf {
  animation-delay: 0.2s;
}
@keyframes spinner_8HQG {
  0%,
  57.14% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    transform: translate(0);
  }
  28.57% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(-6px);
  }
  100% {
    transform: translate(0);
  }
}

.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}
@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.spinner_9Mto {
  animation: spinner_5GqJ 1.6s linear infinite;
  animation-delay: -1.6s;
}
.spinner_bb12 {
  animation-delay: -1s;
}
@keyframes spinner_5GqJ {
  12.5% {
    x: 13px;
    y: 1px;
  }
  25% {
    x: 13px;
    y: 1px;
  }
  37.5% {
    x: 13px;
    y: 13px;
  }
  50% {
    x: 13px;
    y: 13px;
  }
  62.5% {
    x: 1px;
    y: 13px;
  }
  75% {
    x: 1px;
    y: 13px;
  }
  87.5% {
    x: 1px;
    y: 1px;
  }
}

.spinner_mHwL {
  animation: spinner_OeFQ 1s cubic-bezier(0.56, 0.52, 0.17, 0.98) infinite;
}
.spinner_ote2 {
  animation: spinner_ZEPt 1s cubic-bezier(0.56, 0.52, 0.17, 0.98) infinite;
}
@keyframes spinner_OeFQ {
  0% {
    cx: 4px;
    r: 3px;
  }
  50% {
    cx: 9px;
    r: 8px;
  }
}
@keyframes spinner_ZEPt {
  0% {
    cx: 15px;
    r: 8px;
  }
  50% {
    cx: 20px;
    r: 3px;
  }
}

.spinner_8XMC {
  animation: spinner_0zVw 2s infinite;
}
.spinner_WWWR {
  animation: spinner_Aojx 2s infinite;
}
.spinner_LvYV {
  transform-origin: center;
  animation: spinner_xygp 0.75s linear infinite;
}
@keyframes spinner_0zVw {
  0% {
    animation-timing-function: cubic-bezier(0.36, 0.62, 0.43, 0.99);
    cx: 5px;
  }
  50% {
    animation-timing-function: cubic-bezier(0.79, 0, 0.58, 0.57);
    cx: 8px;
  }
}
@keyframes spinner_Aojx {
  0% {
    animation-timing-function: cubic-bezier(0.36, 0.62, 0.43, 0.99);
    cx: 19px;
  }
  50% {
    animation-timing-function: cubic-bezier(0.79, 0, 0.58, 0.57);
    cx: 16px;
  }
}
@keyframes spinner_xygp {
  100% {
    transform: rotate(360deg);
  }
}
