.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: var(--green-teal-mid-dark);
  color: #fff;
}

.heroWrapper {
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 30px;
  min-height: 100%;
}

.heroContent {
  padding-right: 4em;
  min-width: 45%;
  max-width: 50%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.heroButtonsWrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.linkBlockChartreuse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 32px;
  background: var(--chartreuse);
  border-radius: 100px;
  color: var(--green-dark);
  max-width: fit-content;
}
.linkBlockWhite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 3px;
  margin-left: 20px;
  color: #fff;
  max-width: fit-content;
  box-shadow: var(--light-gray-link-shadow);
  transition: box-shadow 0.2s ease-in-out;
}
.linkBlockWhite:hover {
  box-shadow: var(--light-hover-shadow);
}
.buttonLabel {
  margin-right: 5px;
}

.heroImageGrid {
  background-color: var(--green-teal-mid);
  padding: 20px;
  min-height: 100%;
  border-radius: 10px;
  margin-right: -10em;
}

.heroRail {
  display: flex;
  align-items: center;
}

.imageFrameSquare {
  max-width: 35em;
  max-height: 35em;
  object-fit: cover;
  overflow: hidden;
}
