.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #204f58;
  padding-top: 90px;
  color: #fff;
}

.heroWrapper {
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 30px;
  min-height: 100%;
}

.heroContent {
  padding-right: 4em;
  min-width: 45%;
  max-width: 50%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.heroButtonsWrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.linkBlockChartreuse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 32px;
  background: #b4ff28;
  border-radius: 100px;
  color: #1a393a;
  max-width: fit-content;
}
.linkBlockWhite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 3px;
  margin-left: 20px;
  color: #fff;
  max-width: fit-content;
  box-shadow: inset 0px -3px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}
.linkBlockWhite:hover {
  box-shadow: inset 0px -3px #b0eab9;
}
.buttonLabel {
  margin-right: 5px;
}

.heroImageGrid {
  background-color: #47888a;
  padding: 20px;
  min-height: 100%;
  border-radius: 10px;
  margin-right: -10em;
}

.heroRail {
  display: flex;
  align-items: center;
}

.imageFrameSquare {
  max-width: 35em;
  max-height: 35em;
  object-fit: cover;
  overflow: hidden;
}
