.bottomMarginXl {
  margin-bottom: 4em;
}
.bottomMarginLg {
  margin-bottom: 2em;
}

.bottomMarginMd {
  margin-bottom: 1.2em;
}

.bottomMarginSm {
  margin-bottom: 0.5em;
}

.bottomMarginXs {
  margin-bottom: 0.25em;
}

.topMarginLg {
  margin-top: 2em;
}

.topMarginMd {
  margin-top: 1.2em;
}

.topMarginXl {
  margin-top: 5em;
}

.bottomTopMarginXl {
  margin-top: 5em;
  margin-bottom: 5em;
}

.bottomTopMarginLg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bottomTopMarginMd {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.bottomTopMarginSm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.allPaddingLg {
  padding: 2em;
}

.fullDividerGreen {
  background: var(--green-teal-mid);
  min-width: 95%;
  max-width: 98%;
  margin: 2em;
  height: 1px;
}

.blockDividerOrange {
  background: var(--orange-lightest);
  min-width: 40%;
  max-width: 50%;
  margin: 0.75em 2em 1.5em 0;
  height: 1em;
  border-radius: 100px;
}
