.headingXl {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.25em;
}

.textBurst {
  color: #b0ebb9;
}

.paragraphMain {
  font-size: 1.4em;
  line-height: 1.6;
  margin-bottom: 0.75em;
}
