.main {
  padding-top: 2em;
}

.heroWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  min-height: 100%;
  text-align: center;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
}

.greenTag {
  background: var(--green-mid);
  padding: 7px 20px;
  max-width: fit-content;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 2em;
  text-transform: uppercase;
}
