.checkoutForm {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

.summayWrap {
  border: var(--blue-light-border);
  border-radius: 9px;
  padding: 1em;
}

.priceWrap {
  margin-bottom: 3em;
}

.priceLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1090px) {
  .checkoutForm {
    margin-left: 0;
  }
}
