.experienceCard {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  border-radius: 10px;
  background-color: #fff;
  border: var(--dark-gray-border-20);
  max-width: 45%;
  text-align: left;
  max-height: fit-content;
}

.experienceCard:first-child {
  margin-right: 2em;
}

.checkItem {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.checkIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 15px;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 100px;
  margin-right: 10px;
  background-color: var(--green-light);
  margin-top: 2px;
}

.checkIcon {
  object-fit: contain;
  filter: invert(1) sepia(1) brightness(0.1);
}

@media screen and (max-width: 1090px) {
  .experienceCard {
    max-width: 100%;
    margin-bottom: 2em;
  }

  .experienceCard:first-child {
    margin-right: 0em;
  }
}
