.flexCard {
  max-width: 30%;
}

.flexCardImage {
  min-width: 100%;
  object-fit: cover;
  margin-bottom: 1.2em;
  border-radius: 9px;
}

.flexCardText {
  min-width: 100%;
}

.cardIcon {
  margin-right: 0.5em;
}

.flexWrap {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}

.flexImage {
  object-fit: cover;
  border-radius: 9px;
  margin-right: 1em;
  margin-top: 2em;
}

.flexText {
  max-width: 35%;
}
