.pricingCard {
  display: flex;
  flex-direction: column;
  padding: 4em 2em 2em 2em;
  border-radius: 10px;
  background-color: #fff;
  border: var(--dark-gray-border-20);
  max-width: 40%;
  min-width: 40%;
  margin: 1em;
  text-align: left;
  white-space: pre-wrap;
}

.pricingCard:last-child {
  margin-right: 0;
}

.checkItem {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.checkIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: 0.1em;
  background-color: var(--chartreuse-50);
}

.checkIcon {
  object-fit: contain;
  filter: invert(1) sepia(1) brightness(0.1);
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .pricingCard {
    max-width: 92%;
  }
}
