.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: var(--dark-gray-20);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.modal {
  position: relative;
  background-color: #fff;
  max-width: 90%;
  margin: 0 auto;
  max-height: 80vh;
  padding: 3.5em 2em 2.5em 2em;
  border-radius: 9px;
  z-index: 10;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
