.checkboxCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  border-radius: 10px;
  background-color: #fff;
  border: var(--dark-gray-border-20);
  max-width: 45%;
  text-align: left;
}

.checkboxCard:first-child {
  margin-right: 2em;
}

.checkItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.checkIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100px;
  margin-right: 10px;
  background-color: var(--chartreuse-50);
}

.checkIcon {
  object-fit: contain;
}
