.ctaWrap {
  background: var(--orange-light);
  padding: 0px 20px;
  min-width: 100%;
}

.ctaContentWrap {
  padding: 5.5em 5.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tag {
  background: var(--orange-lightest);
  padding: 7px 20px;
  margin-left: -9px;
  max-width: fit-content;
  border-radius: 100px;
  margin-bottom: 10px;
}

.ctaFormWrap {
  max-width: 35%;
  text-align: left;
}

.form {
  background: #fff;
  border-radius: 100px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.input {
  background: #fff;
  padding: 13px 25px;
  outline: none;
  border: none;
  color: #2c2c2c;
  max-width: fit-content;
  border-radius: 100px;
  margin-right: 10px;
}

.input:autofill {
  color: var(--dark-gray) !important;
}

.arrowButton {
  background: var(--orange-mid);
  color: #fff;
  border-radius: 100px;
  outline: none;
  border: none;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  font-size: 1.3em;
  line-height: 1;
}

/* // */
.greenCtaWrap {
  background: var(--green-teal-mid-dark);
  padding: 0px 20px;
  min-width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.columnWrap {
  padding: 5.5em 5.7em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 75%;
}

.greenTag {
  background: var(--green-mid-15);
  padding: 7px 20px;
  max-width: fit-content;
  border-radius: 100px;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.ctaChecksWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 2em;
}

.checkItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 33%;
  border-radius: 10px;
  margin: 15px;
}

.checkIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100px;
  margin-right: 15px;
  background-color: var(--chartreuse);
}

.checkIcon {
  object-fit: contain;
  filter: invert(1) sepia(0) saturate(0) hue-rotate(0deg) brightness(0.3);
}
