/* LOADING */

.loadingWrapper {
  display: flex;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(3px);
  z-index: 200;
  background: var(--green-teal-mid-10);
}
.loadingDivWrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  padding-left: 1em;
  backdrop-filter: blur(3px);
  z-index: 2;
  margin-top: -3em;
}
.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: ellipsisFirst cubic-bezier(0.5, 0.35, 0.79, 0.86) 2.1s infinite;
  background: var(--orange-mid);
  /* animation-delay: 100ms; */
}

.ldsEllipsis div:nth-child(2) {
  left: 22px;
  animation: ellipsis2 ease-in-out 2.7s infinite;
  background: var(--yellow-mid);
  /* animation-delay: 250ms; */
}

.ldsEllipsis div:nth-child(3) {
  left: 56px;
  animation: ellipsis3 ease-in-out 2.3s infinite;
  background: var(--chartreuse);
}

.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: ellipsisLast cubic-bezier(0.5, 0.35, 0.79, 0.86) 2.5s infinite;
  background: var(--blue-mid);
  /* animation-delay: 50ms; */
}

@keyframes ellipsisFirst {
  0% {
    z-index: 1;
    transform: scale(0) translate(100px, 0);
  }

  60% {
    z-index: 10;
    transform: scale(1) translate(0px, -3px);
  }

  100% {
    z-index: 1;
    transform: scale(0) translate(-80px, 0);
  }
}

@keyframes ellipsis2 {
  0% {
    z-index: 1;
    transform: scale(0);
  }

  60% {
    z-index: 3;
    transform: scale(0.8) translate(-5px, 3px);
  }

  100% {
    z-index: 1;
    transform: scale(0) translate(0, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    z-index: 1;
    transform: scale(0) translate(0px, 0);
  }

  50% {
    z-index: 3;
    transform: scale(0.9) translate(0, -5px);
  }
  100% {
    z-index: 1;
    transform: scale(0) translate(0px, 0);
  }
}

@keyframes ellipsisLast {
  0% {
    z-index: 1;
    transform: scale(0) translate(48px, -2px);
  }

  60% {
    z-index: 10;
    transform: scale(1.1) translate(-7px, 2px);
  }

  100% {
    z-index: 1;
    transform: scale(0) translate(-48px, 0);
  }
}
